node_modules/
.env
.env.local
dist/
logs/
coverage/
*.log
.DS_Store
.vscode/
.env.development

# Codacy local analysis (optional - you can remove this line to commit .codacy folder)
.codacy/
.env.production

#Ignore vscode AI rules
.github
.github/copilot-instructions.md
